/questions_data/images/
/questions_data/*.json
/questions_data_old/
/.venv/
/fonts/
/frontend/
.env
old_requirements.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ignore all PDFs except those in Generated_Papers
*.pdf
!Generated_Papers/**/*.pdf

# Windows artifacts
nul
